

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hustle SHOP</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form action="{% url 'search' %}" method="post" class="d-flex">
                {% csrf_token %}
                <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div style="display: flex; flex-direction: row">
            {% if is_login %}
            <span class="material-icons-outlined" style="cursor: pointer" id="logout">logout</span>
            {% else %}
            <span class="material-icons-outlined" style="cursor: pointer" id="login">login</span>
            {%  endif %}
            <a href="{% url 'main' %}" style="text-decoration: none; color: black"><span class="material-icons">home</span></a>
            <a href="{% url 'addproduct' %}"><span class="material-icons-outlined" style="color: black">add_box</span></a>

            <a href="{% url 'favoritemain' %}" style="text-decoration: none; color: black"><span class="material-icons-outlined">favorite_border</span></a>
            <a href="{% url 'cart' %}" style="text-decoration: none; color: black"><span class="material-icons-outlined">shopping_cart</span></a>
        </div>
    </div>
</nav>
